<%- include("header.ejs") %>   

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> C-sharp Programming language</title>
</head>
<body class="Csharp-Body">
    <div class="Csharp-Main">
        <div class="Csharp-info">

            <h1> C# Introduction </h1>
            <h3> What is C#? </h3>
            <img src="https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2019/02/c_logo_black.png">
            <img src="https://code.visualstudio.com/assets/docs/languages/csharp/csharp-hero.png">
            <p> C# is pronounced "C-Sharp"</p>
            <p> C# has roots from the C family, and the language is close to other popular languages like C++ and Java.</p>
            <p> It is an object-oriented programming language created by Microsoft that runs on the .NET Framework.</p>
            <p> The first version was released in year 2002. The latest version, C# 12, was released in November 2023.</p>
    


        </div>
        <div class="Csharp-SubMain1">

            <h3> Why Use C#? </h3>
            <ul class="Csharp-list1">
                <li><p>It is one of the most popular programming languages in the world </p> </li>
                <li><p> It is easy to learn and simple to use</p></li>
                <li><p> It has huge community support</p></li>
                <li><p> C# is an object-oriented language which gives a clear structure to programs and allows code to be reused, lowering development costs</p></li>
                <li><p>As C# is close to C, C++ and Java, it makes it easy for programmers to switch to C# or vice versa</p></li>


                
            </ul>



        </div>
       
       
    </div>

    
</body>
</html>