<%- include("header.ejs") %>   

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C++ programming language </title>
</head>
<body class="Cpp-Body">
    <div class="Cpp-Main">
        <div class="Cpp-info">

            <h1> C++ Introduction </h1>
            <h3> What is C++? </h3>
            <img src="https://www.simplilearn.com/ice9/free_resources_article_thumb/What_is_CPP.jpg">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4vWWyvFEaHJLQWCQOjvwQHov1tQC5RvDFSg&s">
            <p> C++ is a cross-platform language that can be used to create high-performance applications.</p>
            <p> C++ was developed by Bjarne Stroustrup, as an extension to the C language.</p>
            <p> C++ gives programmers a high level of control over system resources and memory.</p>
            <p> The language was updated 4 major times in 2011, 2014, 2017, and 2020 to C++11, C++14, C++17, C++20.</p>
    


        </div>
        <div class="Cpp-SubMain1">

            <h3> Why Use C++ </h3>
            <ul class="Cpp-list1">
                <li><p>C++ is one of the world's most popular programming languages. </p> </li>
                <li><p> C++ can be found in today's operating systems, Graphical User Interfaces, and embedded systems.</p></li>
                <li><p> C++ is an object-oriented programming language which gives a clear structure to programs and allows code to be reused, lowering development costs.</p></li>
                <li><p> C++ is portable and can be used to develop applications that can be adapted to multiple platforms.</p></li>
                <li><p> C++ is fun and easy to learn!</p></li>


                
            </ul>



        </div>
        <div class="Cpp-SubMain2"> 
            <h3> Difference between C and C++ </h3>
            <ul class="C-list2">
               <li><p> C++ was developed as an extension of C, and both languages have almost the same synta</p></li>
               <li><p> The main difference between C and C++ is that C++ support classes and objects, while C does not </p></li>

                
            </ul>

            
    
        </div>
        <div class="Cpp-SubMain3">

            <h3> Get Started </h3>
            <p> This tutorial will teach you the basics of C++.</p>

            <p>When you are finished with this tutorial, you will be able to write C++ programs and create real-life examples.</p> 
                
             <p>   It is not necessary to have any prior programming experience. </p> 

        </div>
       
    </div>

    
</body>
</html>