<%- include("header.ejs") %>   

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C programming language </title>
</head>
<body class="C-Body">
    <div class="C-Main">
        <div class="C-info">

            <h1> Introduction </h1>
            <h3> What is C? </h3>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR03OQsGauH1dEU_yO7ixGmcMmxyWr4gxnyRA&s">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmee5XKO-V-VagpiFZnbfAEFrwvu1lRug2Kw&s">
            <p> C is a general-purpose programming language created by Dennis Ritchie at the Bell Laboratories in 1972.</p>
            <p> It is a very popular language, despite being old. The main reason for its popularity is because it is a fundamental language in the field of computer science.</p>
            <p> C is strongly associated with UNIX, as it was developed to write the UNIX operating system.</p>
    


        </div>
        <div class="C-SubMain1">

            <h3> Why Learn C? </h3>
            <ul class="C-list1">
                <li><p> It is one of the most popular programming languages in the world  </p> </li>
                <li><p> If you know C, you will have no problem learning other popular programming languages such as Java, Python, C++, C#, etc, as the syntax is similar</p></li>
                <li><p> C is very fast, compared to other programming languages, like Java and Python</p></li>
                <li><p> C is very versatile; it can be used in both applications and technologies</p></li>


                
            </ul>



        </div>
        <div class="C-SubMain2"> 
            <h3> Difference between C and C++ </h3>
            <ul class="C-list2">
               <li><p> C++ was developed as an extension of C, and both languages have almost the same synta</p></li>
               <li><p> The main difference between C and C++ is that C++ support classes and objects, while C does not </p></li>

                
            </ul>

            
    
        </div>
        <div class="C-SubMain3">

            <h3> Get Started </h3>
            <p> This tutorial will teach you the basics of C.</p>

            <p>When you are finished with this tutorial, you will be able to write C programs and create real-life examples.</p> 
                
             <p>   It is not necessary to have any prior programming experience. </p> 

        </div>
       
    </div>

    
</body>
</html>