<!-- We should include it here which is our main-Home page it bring the changes that we have made in css file  -->

<%- include("header.ejs") %>                      

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The top programming languages in 2024</title>
</head>
<body>

    <h1> The best programming languages in 2024</h1>

    <div class="main-container">

        <p> There are some programming languages that are very useful and and famous in 2024. 
            In this topic we are going to discuss about these programming languages and also we will disscuss about 
            each language.
        </p>
        <h3> Here are some best and most useful programming languages in 2024 </h3>
        <ul>

            <div id="c-Programming"> 

                <li ><a href="http://localhost:3000/C-Programming"> C Programming language </li>


            </div>
            <div id="Cpp-Programming"> 

                <li ><a href="http://localhost:3000/Cpp-Programming"> C++  Programming language </li>


            </div>
            <div id="Csharp-Programming">

                <li><a href="http://localhost:3000/Csharp-Programming"> C# Programming language </a></li>



            </div>
            <div id="Python-Programming">

                <li><a href="http://localhost:3000/Python-Programming">Python  Programming language </a></li>



            </div>


            
        </ul>
        
    </div>
    
</body>
</html>